<div class="admin-page">
  <div class="tabs">
    <button class="tab-button" [class.active]="selectedTab === 'addProduct'" (click)="selectTab('addProduct')">
      Add Product
    </button>
    <button class="tab-button" [class.active]="selectedTab === 'deleteProduct'" (click)="selectTab('deleteProduct')">
      Delete Product
    </button>
  </div>

  <div *ngIf="selectedTab === 'addProduct'" class="tab-content">
    <h2>Add New Product</h2>
    <form (ngSubmit)="addProduct()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="newProduct.title" name="title" required>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="newProduct.description" name="description"></textarea>
      </div>

      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" id="category" [(ngModel)]="newProduct.category" name="category" required>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="newProduct.price" name="price" required>
      </div>

      <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" [(ngModel)]="newProduct.stock" name="stock" required>
      </div>

      <div class="form-group">
        <label for="images">Upload Images:</label>
        <input type="file" id="images" (change)="onFileSelected($event)" multiple accept="image/*">
      </div>

      <div *ngIf="imagePreviews.length > 0" class="image-previews">
        <h3>Image Previews:</h3>
        <div class="image-preview-container">
          <div *ngFor="let img of imagePreviews" class="image-preview-item">
            <img [src]="img" alt="Image Preview">
          </div>
        </div>
      </div>

      <button type="submit" class="btn-primary">Add Product</button>
    </form>
  </div>

  <div *ngIf="selectedTab === 'deleteProduct'" class="tab-content">
    <h2>Delete Products</h2>
    <div class="product-list">
      <div *ngFor="let product of products" class="product-item">
        <img [src]="getLink(product.images)" alt="{{ product.title }}">
        <div class="product-details">
          <h4>{{ product.title }}</h4>
          <p><strong>Stock:</strong> {{ product.stock }}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <button (click)="deleteProduct(product.productId)" class="btn-delete">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
