<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">
      <img src="/images/nav/logo.png" alt="Logo" class="logo-img"/>
    </a>
  </div>

  <div class="navbar-search">
    <input type="text" placeholder="Search for products"/>
    <button class="search-btn"><i class="fas fa-search"></i></button>
  </div>

  <ul class="navbar-links">
    <li>
      <a href="/">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li *ngIf="getIsLoggedIn()">
      <a [routerLink]="['/cart']">
        <i class="fas fa-shopping-cart"></i> Cart
      </a>
    </li>
    <li *ngIf="getIsLoggedIn()">
      <a (click)="signOut()">
        <i class="fas fa-sign-out-alt"></i> Sign Out
      </a>
    </li>

    <li>
      <a [routerLink]="[getAccountRoute()]">
        <i class="fas fa-user"></i>  {{ getNavName() }}
      </a>
    </li>

    <li *ngIf="isAdmin">
      <a [routerLink]="['/admin']">
        <i class="fas fa-user-shield"></i> Admin
      </a>
    </li>
  </ul>
</nav>
