<div class="forgot-password-container" *ngIf="!codeSent">
  <h2>Forgot Your Password?</h2>
  <p>Enter your email, and we'll send you a verification code.</p>

  <form (ngSubmit)="onSendCode()" #forgotPasswordForm="ngForm">
    <div class="input-group">
      <input
        type="email"
        id="email"
        placeholder="Enter your email"
        [(ngModel)]="email"
        name="email"
        required
        #emailInput="ngModel"
      >
      <span class="input-icon">&#x2709;</span>
    </div>
    <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
      Please enter a valid email.
    </div>
    <button type="submit" class="submit-btn" [disabled]="forgotPasswordForm.invalid">Send Verification Code</button>
  </form>

  <div class="back-to-login">
    <a routerLink="/login">Back to Login</a>
  </div>
</div>


<div class="forgot-password-container" *ngIf="codeSent">
  <h2>Enter Verification Code</h2>
  <p>We have sent a verification code to {{ email }}.</p>

  <form (ngSubmit)="onVerifyCode()" #resetPasswordForm="ngForm">
    <div class="input-group">
      <input
        type="text"
        id="code"
        placeholder="Enter verification code"
        [(ngModel)]="verificationCode"
        name="verificationCode"
        required
        #codeInput="ngModel"
      >
      <span class="input-icon">&#x1F512;</span>
    </div>
    <div class="input-group">
      <input
        type="password"
        id="new-password"
        placeholder="Enter new password"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
        minlength="6"
        #passwordInput="ngModel"
      >
      <span class="input-icon">&#x1F5DD;</span>
    </div>
    <div *ngIf="codeInput.invalid && codeInput.touched" class="error-message">
      Please enter the verification code.
    </div>
    <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
      Password must be at least 6 characters long.
    </div>

    <button type="submit" class="submit-btn" [disabled]="resetPasswordForm.invalid">Reset Password</button>
  </form>

  <div class="back-to-login">
    <a routerLink="/login">Back to Login</a>
  </div>
</div>
